.navbar {
    box-shadow: 2px 2px 5px #000;
    opacity: .95;
}

.navbar .nav-item .nav-link {
    color: #fff;
}

.main-header {
    position: relative;
    background: url(../img/background.jpg);
    min-height: 700px;
    background-size: cover;
}

.background-overlay {
    position: absolute;
    background: rgba(165, 94, 234, .80);
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.bg-purple {
    background-color: #7158e2;
    color: white;
}

.btn-purple:hover {
    background-color: #7d5fff;
    color: white;
}
